{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth":80,
  "semi":true,
  "singleQuote":false,
  "jsxSingleQuote":false,
  "trailingComma":"none",
  "bracketSpacing":true,
  "bracketSameLine":false,
  "arrowParens":"avoid"
}
