@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

*,
a,
button,
input,
textarea {
  cursor: none;
}

textarea:focus,
input:focus {
  outline: none;
}

html {
  scroll-behavior: smooth !important;
  background: #e5e7eb;
}
